# Live Coding Module 2

In [4]:
import numpy as np
import pandas as pd
import os
os.chdir('/home/dfn7vs/Documents/MSDS/DS6001')

In [6]:
gallup = pd.read_csv("USAIPO1936-0053.csv")

In [17]:
pd.set_option('display.max_columns',50)
gallup.head(5).T

,0,1,2,3,4
form,NaN,NaN,NaN,NaN,NaN
state,Indiana,Illinois,Michigan,Virginia,Florida
region,East Central,East Central,East Central,South and Southwest,South and Southwest
female,Male,Male,Male,Male,Male
age,NaN,NaN,NaN,55 yrs and over,55 yrs and over
class,Av+,Av+,Av,P or P+,Av+
OCCUPATION1,Skilled workers,Skilled workers,Business,Skilled workers,Skilled workers
OCCUPATION2,NaN,NaN,NaN,NaN,NaN
OCCUPATION3,NaN,NaN,NaN,NaN,NaN
black,NaN,NaN,NaN,NaN,NaN
size,Urban,Urban,Urban,Urban,Small town
education,NaN,NaN,NaN,NaN,NaN
AGE_3WAY,NaN,NaN,NaN,NaN,NaN
AGE40,NaN,NaN,NaN,NaN,NaN
OCC8,Labor,Labor,Professional,Labor,Labor
prof,Not Professional,Not Professional,Professional,Not Professional,Not Professional
REGION4,Midwest,Midwest,Midwest,South,South
EDU_RECODE,NaN,NaN,NaN,NaN,NaN
VOTE_PRO,Landon,Landon,Landon,fdr,fdr
VOTE_RETRO,Hoover,Hoover,Hoover,fdr,fdr
PHONE_RECODE,NaN,NaN,NaN,NaN,NaN
CAR_RECODE,NaN,NaN,NaN,NaN,NaN
ballot,53,53,53,53,53
Q1,Yes,Yes,No,Yes,Yes
Q2,Yes,NaN,No,Yes,Yes
Q3,Yes,Yes,Yes,Yes,Yes
Q4A,Roosevelt,Landon,Landon,Roosevelt,Roosevelt
Q4B,Roosevelt,Landon,Landon,Roosevelt,Roosevelt
Q4C,Landon,Landon,Landon,Roosevelt,Roosevelt
Q5A,Landon,Landon,Landon,Roosevelt,Roosevelt
Q5B,"Yes, voted for Hoover","Yes, voted for Hoover","Yes, voted for Hoover","Yes, voted for Roosevelt","Yes, voted for Roosevelt"
farm,Non-Farm,Non-Farm,Non-Farm,Non-Farm,Non-Farm
SIZE3,Urban,Urban,Urban,Urban,Rural Non-Farm
urban,Urban,Urban,Urban,Urban,Non-Urban
StPOAbrv,in,il,mi,va,fl
SOUTH11,Non-South,Non-South,Non-South,South,South
SOUTH11xBLACK,NaN,NaN,NaN,NaN,NaN
SOUTH12,Non-South,Non-South,Non-South,South,South
SOUTH12xBLACK,NaN,NaN,NaN,NaN,NaN
south,Non-South,Non-South,Non-South,South,South
SOUTHxBLACK,NaN,NaN,NaN,NaN,NaN
year,1936,1936,1936,1936,1936
WtPubFeas,NaN,NaN,NaN,NaN,NaN
WtVotFeas,NaN,NaN,NaN,NaN,NaN

In [19]:
#gallup.describe(include='object')

In [18]:
pd.crosstab(gallup['Q5A'],gallup['Q3'])

Q3            No   Yes
Q5A
Landon       921   820
Lemke         41   109
Other party    6     6
Roosevelt    442  2048
Thomas        10    41

In [22]:
kaiser = pd.read_stata("31119104.DTA")

In [27]:
pd.set_option('display.max_rows',80)
#kaiser.head(3).T

In [28]:
kaiser['VAXQ1'].value_counts()

Not too worried       387
Somewhat worried      379
Not at all worried    168
Very worried          129
WEB BLANK               2
Name: VAXQ1, dtype: int64

In [29]:
kaiser['VAXQ2'].value_counts()

Yes          878
No           186
WEB BLANK      1
Name: VAXQ2, dtype: int64

In [30]:
kaiser['VAXQ7'].value_counts()

Nothing                                      83
More research/transparency                   16
Other                                        12
WEB BLANK                                    11
If required for work/If it were mandatory     9
Don't know                                    8
If it prevented 100% of infections            7
If doctor recommended it                      7
Money/Large sum of money                      7
More time                                     4
New/different/safer vaccine                   3
To keep my family safe                        3
If the vaccine had no side effects            3
Don't trust it                                3
Already had COVID                             3
If I wanted to travel                         2
Not worried about COVID                       2
More deaths/if a family member died           1
If not pushed by the government               1
More dangerous variant                        1
Name: VAXQ7, dtype: int64

In [31]:
widths = pd.read_csv('USIA poll - Sheet1.csv')

In [33]:
usia = pd.read_fwf('i20068.dat', widths = widths['Width'],head=None)

In [34]:
usia

,1,155,2,1.1,2.1,108,12,14,2.2,3,1.2,3.1,1.3,3.2,1.4,2.3,2.4,4,2.5,3.3,2.6,1.5,3.4,1.6,2.7,...,Unnamed: 111,Unnamed: 112,Unnamed: 113,Unnamed: 114,Unnamed: 115,Unnamed: 116,Unnamed: 117,Unnamed: 118,Unnamed: 119,Unnamed: 120,Unnamed: 121,Unnamed: 122,Unnamed: 123,Unnamed: 124,3.30,53,Unnamed: 127,15,Unnamed: 129,62,4.13,Unnamed: 132,4.14,Unnamed: 134,Unnamed: 135
0,2,155.0,2.0,1.0,2.0,120.0,9.0,13.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,4.0,1.0,2.0,2.0,2.0,3.0,2.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,13.0,NaN,16.0,NaN,61.0,NaN,NaN,NaN,NaN,NaN
1,3,155.0,2.0,1.0,2.0,102.0,14.0,NaN,2.0,2.0,1.0,2.0,1.0,1.0,1.0,1.0,2.0,3.0,1.0,3.0,2.0,2.0,3.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,22.0,NaN,15.0,NaN,11.0,NaN,NaN,NaN,NaN,NaN
2,4,155.0,2.0,1.0,2.0,129.0,9.0,13.0,2.0,3.0,1.0,2.0,2.0,1.0,1.0,2.0,2.0,3.0,3.0,2.0,1.0,1.0,3.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,72.0,NaN,16.0,NaN,51.0,NaN,NaN,NaN,NaN,NaN
3,5,155.0,2.0,1.0,1.0,1.0,13.0,9.0,2.0,2.0,1.0,3.0,3.0,1.0,1.0,1.0,2.0,2.0,4.0,2.0,2.0,1.0,3.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,3.0,NaN,16.0,NaN,71.0,NaN,NaN,NaN,NaN,NaN
4,6,155.0,2.0,1.0,2.0,120.0,12.0,9.0,2.0,2.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0,1.0,4.0,2.0,2.0,...,NaN,NaN,NaN,4.0,7.0,NaN,NaN,NaN,NaN,88.0,9.0,10.0,3.0,6.0,5.0,55.0,NaN,13.0,NaN,31.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2032,2248,283.0,2.0,2.0,2.0,102.0,6.0,11.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,3.0,2.0,2.0,3.0,3.0,3.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,55.0,NaN,12.0,1.0,72.0,5.0,NaN,7.0,NaN,NaN
2033,2249,283.0,2.0,2.0,8.0,NaN,98.0,NaN,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,NaN,NaN,NaN,NaN,NaN,7.0,8.0,NaN,NaN,88.0,5.0,15.0,2.0,10.0,2.0,1.0,NaN,15.0,1.0,72.0,4.0,NaN,1.0,NaN,NaN
2034,2250,283.0,2.0,2.0,9.0,NaN,98.0,NaN,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,4.0,NaN,13.0,1.0,72.0,3.0,NaN,6.0,NaN,NaN
2035,2251,255.0,1.0,2.0,2.0,163.0,9.0,6.0,3.0,4.0,3.0,3.0,3.0,4.0,2.0,2.0,3.0,2.0,4.0,8.0,8.0,8.0,8.0,8.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,54.0,NaN,11.0,1.0,72.0,3.0,NaN,6.0,NaN,NaN
2036,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN