## Live Coding Module 6

In [1]:
import numpy as np
import pandas as pd
import psycopg2
import sqlite3
import dotenv
import os
from sqlalchemy import create_engine

In [2]:
url = 'https://stewart-gibson.shinyapps.io/NBA_All_Data_Downloader/_w_dbf0cb5d/session/ecbbde0c678122237f0090be15ff013d/download/downloadData?w=dbf0cb5d'

In [3]:
nba = pd.read_csv(url)

<ipython-input-3-18ccaac00025>:1: DtypeWarning: Columns (68,69,70) have mixed types. Specify dtype option on import or set low_memory=False.
  nba = pd.read_csv(url)

                                    0
game_id                  202204100BRK
game_date                  2022-04-10
OT                                  0
H_A                                 A
Team_Abbrev                       IND
...                               ...
SG%                              35.0
SF%                               4.0
PF%                               0.0
C%                                0.0
active_position_minutes      64.74186

[81 rows x 1 columns]

In [5]:
pd.set_option('display.max_rows',81)
nba.head(3).T

,0,1,2
game_id,202204100BRK,202204100BRK,202204100BRK
game_date,2022-04-10,2022-04-10,2022-04-10
OT,0,0,0
H_A,A,A,A
Team_Abbrev,IND,IND,IND
Team_Score,126,126,126
Team_pace,103.9,103.9,103.9
Team_efg_pct,0.543,0.543,0.543
Team_tov_pct,5.9,5.9,5.9
Team_orb_pct,20.8,20.8,20.8
Team_ft_rate,0.125,0.125,0.125
Team_off_rtg,121.3,121.3,121.3
Inactives,"Chris Duarte, Nate Hinton, Ricky Rubio, Myles ...","Chris Duarte, Nate Hinton, Ricky Rubio, Myles ...","Chris Duarte, Nate Hinton, Ricky Rubio, Myles ..."
Opponent_Abbrev,BRK,BRK,BRK
Opponent_Score,134,134,134
Opponent_pace,103.9,103.9,103.9
Opponent_efg_pct,0.691,0.691,0.691
Opponent_tov_pct,17.9,17.9,17.9
Opponent_orb_pct,29.6,29.6,29.6
Opponent_ft_rate,0.272,0.272,0.272
Opponent_off_rtg,129.0,129.0,129.0
player,Tyrese Haliburton,Buddy Hield,Oshae Brissett
player_id,halibty01,hieldbu01,brissos01
starter,1,1,1
mp,39:28,35:53,35:47
fg,7,8,10
fga,14,23,20
fg_pct,0.5,0.348,0.5
fg3,2,5,5
fg3a,5,14,10
fg3_pct,0.4,0.357,0.5
ft,1,0,3
fta,1,0,4
ft_pct,1.0,0.0,0.75
orb,2,0,3
drb,2,3,5
trb,4,3,8
ast,10,6,3
stl,2,3,1
blk,0,0,0
tov,1,2,0
pf,0,3,5
pts,17,21,28
plus_minus,-9,0,-9
did_not_play,0,0,0
is_inactive,0,0,0
ts_pct,0.589,0.457,0.643
efg_pct,0.571,0.457,0.625
fg3a_per_fga_pct,0.357,0.609,0.5
fta_per_fga_pct,0.071,0.0,0.2
orb_pct,4.6,0.0,7.6
drb_pct,9.0,14.9,24.8
trb_pct,6.1,5.0,13.4
ast_pct,31.6,22.1,12.0
stl_pct,2.3,3.9,1.3
blk_pct,0.0,0.0,0.0
tov_pct,6.5,8.0,0.0
usg_pct,15.7,28.0,24.5
off_rtg,137,94,137
def_rtg,132,128,133
bpm,1.7,-2.3,4.4
season,2022,2022,2022
minutes,39.466667,35.883333,35.783333
double_double,1,0,0
triple_double,0,0,0
DKP,43.0,41.25,47.0
FDP,41.8,40.6,45.1
SDP,44.5,43.25,48.0
DKP_per_minute,1.089527,1.149559,1.313461
FDP_per_minute,1.059122,1.131444,1.260363
SDP_per_minute,1.127534,1.205295,1.341407
pf_per_minute,0.0,0.083604,0.13973
ts,14.44,23.0,21.76
last_60_minutes_per_game_starting,36.176282,35.833974,30.988194
last_60_minutes_per_game_bench,19.535428,19.35058,16.733827
PG%,62.0,4.0,0.0
SG%,35.0,53.0,0.0
SF%,4.0,43.0,20.0
PF%,0.0,1.0,75.0
C%,0.0,0.0,5.0
active_position_minutes,64.74186,56.265965,44.631041

## First Normal Form: every table (or entity) as a primary key also cant have mulitple data point in one cell (ex. list or dictionary) call atomic data no repeating groups problems

In [6]:
nba = nba.drop(['Inactives'],axis=1)

## Second Normal Form: if you have a superkey all columns outside the key depend on the whole key not just part

In [9]:
games = nba[['game_id','game_date','OT','season']].drop_duplicates()
games

             game_id   game_date  OT  season
0       202204100BRK  2022-04-10   0    2022
25      202204100CHO  2022-04-10   0    2022
52      202204100CLE  2022-04-10   0    2022
77      202204100DAL  2022-04-10   0    2022
103     202204100DEN  2022-04-10   1    2022
...              ...         ...  ..     ...
117243  202001080GSW  2020-01-08   0    2020
117871  202008020HOU  2020-08-02   0    2020
118667  201911060HOU  2019-11-06   0    2020
119109  201912250GSW  2019-12-25   0    2020
119627  202002200GSW  2020-02-20   0    2020

[3544 rows x 4 columns]

In [14]:
nba = nba.drop(['game_date','OT','season'], axis=1)
nba.head(1).T

                                                   0
game_id                                 202204100BRK
H_A                                                A
Team_Abbrev                                      IND
Team_Score                                       126
Team_pace                                      103.9
Team_efg_pct                                   0.543
Team_tov_pct                                     5.9
Team_orb_pct                                    20.8
Team_ft_rate                                   0.125
Team_off_rtg                                   121.3
Opponent_Abbrev                                  BRK
Opponent_Score                                   134
Opponent_pace                                  103.9
Opponent_efg_pct                               0.691
Opponent_tov_pct                                17.9
Opponent_orb_pct                                29.6
Opponent_ft_rate                               0.272
Opponent_off_rtg                               129.0
player                             Tyrese Haliburton
player_id                                  halibty01
starter                                            1
mp                                             39:28
fg                                                 7
fga                                               14
fg_pct                                           0.5
fg3                                                2
fg3a                                               5
fg3_pct                                          0.4
ft                                                 1
fta                                                1
ft_pct                                           1.0
orb                                                2
drb                                                2
trb                                                4
ast                                               10
stl                                                2
blk                                                0
tov                                                1
pf                                                 0
pts                                               17
plus_minus                                        -9
did_not_play                                       0
is_inactive                                        0
ts_pct                                         0.589
efg_pct                                        0.571
fg3a_per_fga_pct                               0.357
fta_per_fga_pct                                0.071
orb_pct                                          4.6
drb_pct                                          9.0
trb_pct                                          6.1
ast_pct                                         31.6
stl_pct                                          2.3
blk_pct                                          0.0
tov_pct                                          6.5
usg_pct                                         15.7
off_rtg                                          137
def_rtg                                          132
bpm                                              1.7
minutes                                    39.466667
double_double                                      1
triple_double                                      0
DKP                                             43.0
FDP                                             41.8
SDP                                             44.5
DKP_per_minute                              1.089527
FDP_per_minute                              1.059122
SDP_per_minute                              1.127534
pf_per_minute                                    0.0
ts                                             14.44
last_60_minutes_per_game_starting          36.176282
last_60_minutes_per_game_bench             19.535428
PG%                                             62.0
SG%                                             35.0
SF%                                              4.0
PF%                                              0.0
C%                                               0.0
active_position_minutes                     64.74186

In [15]:
players = nba[['player_id','player']].drop_duplicates()
players

        player_id             player
0       halibty01  Tyrese Haliburton
1       hieldbu01        Buddy Hield
2       brissos01     Oshae Brissett
3       jacksis01     Isaiah Jackson
4       mccontj01     T.J. McConnell
...           ...                ...
118686  frazimi01    Michael Frazier
119425  howarwi01     William Howard
119897  mbahalu01   Luc Mbah a Moute
120383  bowmaky01          Ky Bowman
121005  pargoje01       Jeremy Pargo

[818 rows x 2 columns]

In [20]:
nba = nba.drop(['player'], axis=1)
nba.head(1).T

                                              0
game_id                            202204100BRK
H_A                                           A
Team_Abbrev                                 IND
Team_Score                                  126
Team_pace                                 103.9
Team_efg_pct                              0.543
Team_tov_pct                                5.9
Team_orb_pct                               20.8
Team_ft_rate                              0.125
Team_off_rtg                              121.3
Opponent_Abbrev                             BRK
Opponent_Score                              134
Opponent_pace                             103.9
Opponent_efg_pct                          0.691
Opponent_tov_pct                           17.9
Opponent_orb_pct                           29.6
Opponent_ft_rate                          0.272
Opponent_off_rtg                          129.0
player_id                             halibty01
starter                                       1
mp                                        39:28
fg                                            7
fga                                          14
fg_pct                                      0.5
fg3                                           2
fg3a                                          5
fg3_pct                                     0.4
ft                                            1
fta                                           1
ft_pct                                      1.0
orb                                           2
drb                                           2
trb                                           4
ast                                          10
stl                                           2
blk                                           0
tov                                           1
pf                                            0
pts                                          17
plus_minus                                   -9
did_not_play                                  0
is_inactive                                   0
ts_pct                                    0.589
efg_pct                                   0.571
fg3a_per_fga_pct                          0.357
fta_per_fga_pct                           0.071
orb_pct                                     4.6
drb_pct                                     9.0
trb_pct                                     6.1
ast_pct                                    31.6
stl_pct                                     2.3
blk_pct                                     0.0
tov_pct                                     6.5
usg_pct                                    15.7
off_rtg                                     137
def_rtg                                     132
bpm                                         1.7
minutes                               39.466667
double_double                                 1
triple_double                                 0
DKP                                        43.0
FDP                                        41.8
SDP                                        44.5
DKP_per_minute                         1.089527
FDP_per_minute                         1.059122
SDP_per_minute                         1.127534
pf_per_minute                               0.0
ts                                        14.44
last_60_minutes_per_game_starting     36.176282
last_60_minutes_per_game_bench        19.535428
PG%                                        62.0
SG%                                        35.0
SF%                                         4.0
PF%                                         0.0
C%                                          0.0
active_position_minutes                64.74186

## Third Normal Form: no dependeies on columns that arent the priarmay key

In [22]:
nba.columns

Index(['game_id', 'H_A', 'Team_Abbrev', 'Team_Score', 'Team_pace',
       'Team_efg_pct', 'Team_tov_pct', 'Team_orb_pct', 'Team_ft_rate',
       'Team_off_rtg', 'Opponent_Abbrev', 'Opponent_Score', 'Opponent_pace',
       'Opponent_efg_pct', 'Opponent_tov_pct', 'Opponent_orb_pct',
       'Opponent_ft_rate', 'Opponent_off_rtg', 'player_id', 'starter', 'mp',
       'fg', 'fga', 'fg_pct', 'fg3', 'fg3a', 'fg3_pct', 'ft', 'fta', 'ft_pct',
       'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts',
       'plus_minus', 'did_not_play', 'is_inactive', 'ts_pct', 'efg_pct',
       'fg3a_per_fga_pct', 'fta_per_fga_pct', 'orb_pct', 'drb_pct', 'trb_pct',
       'ast_pct', 'stl_pct', 'blk_pct', 'tov_pct', 'usg_pct', 'off_rtg',
       'def_rtg', 'bpm', 'minutes', 'double_double', 'triple_double', 'DKP',
       'FDP', 'SDP', 'DKP_per_minute', 'FDP_per_minute', 'SDP_per_minute',
       'pf_per_minute', 'ts', 'last_60_minutes_per_game_starting',
       'last_60_minutes_per_game_bench', 'PG%', 'SG%', 'SF%', 'PF%', 'C%',
       'active_position_minutes'],
      dtype='object')

In [23]:
team_game = nba[['game_id','Team_Abbrev','H_A','Team_Score', 'Team_pace',
       'Team_efg_pct', 'Team_tov_pct', 'Team_orb_pct', 'Team_ft_rate',
       'Team_off_rtg']].drop_duplicates()
team_game

,game_id,Team_Abbrev,H_A,Team_Score,Team_pace,Team_efg_pct,Team_tov_pct,Team_orb_pct,Team_ft_rate,Team_off_rtg
0,202204100BRK,IND,A,126,103.9,0.543,5.9,20.8,0.125,121.3
12,202204100BRK,BRK,H,134,103.9,0.691,17.9,29.6,0.272,129.0
25,202204100CHO,WAS,A,108,97.7,0.489,8.7,31.5,0.170,110.5
37,202204100CHO,CHO,H,124,97.7,0.640,15.2,29.7,0.112,126.9
52,202204100CLE,MIL,A,115,101.9,0.511,10.5,17.4,0.284,112.9
...,...,...,...,...,...,...,...,...,...,...
121052,202002270GSW,GSW,H,86,104.8,0.481,23.6,12.2,0.113,82.1
121063,202002290PHO,GSW,A,115,98.6,0.523,9.0,28.9,0.276,116.6
121074,202003010GSW,GSW,H,110,100.2,0.522,17.4,38.3,0.191,109.8
121085,202003030DEN,GSW,A,116,94.4,0.622,10.7,12.8,0.171,122.9
121096,202003070GSW,GSW,H,118,90.9,0.606,7.0,18.9,0.263,129.9

In [25]:
player_game = nba[['game_id','player_id','starter', 'mp',
       'fg', 'fga', 'fg3', 'fg3a', 'ft', 'fta',
       'orb', 'drb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts',
       'plus_minus', 'did_not_play', 'is_inactive','PG%', 'SG%', 'SF%', 'PF%', 'C%']].drop_duplicates()
player_game

,game_id,player_id,starter,mp,fg,fga,fg3,fg3a,ft,fta,...,pf,pts,plus_minus,did_not_play,is_inactive,PG%,SG%,SF%,PF%,C%
0,202204100BRK,halibty01,1,39:28,7,14,2,5,1,1,...,0,17,-9,0,0,62.0,35.0,4.0,0.0,0.0
1,202204100BRK,hieldbu01,1,35:53,8,23,5,14,0,0,...,3,21,0,0,0,4.0,53.0,43.0,1.0,0.0
2,202204100BRK,brissos01,1,35:47,10,20,5,10,3,4,...,5,28,-9,0,0,0.0,0.0,20.0,75.0,5.0
3,202204100BRK,jacksis01,1,32:01,3,4,0,0,1,2,...,5,7,3,0,0,0.0,0.0,0.0,24.0,76.0
4,202204100BRK,mccontj01,1,30:52,5,15,3,7,1,2,...,3,14,7,0,0,100.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121102,202003070GSW,wiggian01,1,37:04:00,3,10,0,0,4,7,...,4,10,8,0,0,0.0,2.0,77.0,21.0,0.0
121103,202003070GSW,toscaju01,1,27:43:00,3,6,0,2,0,0,...,1,6,1,0,0,5.0,45.0,43.0,7.0,0.0
121104,202003070GSW,bendedr01,0,13:15,4,4,2,2,0,0,...,2,10,-10,0,0,0.0,0.0,0.0,9.0,91.0
121105,202003070GSW,muldemy01,1,31:48:00,5,10,3,7,5,6,...,3,18,15,0,0,0.0,44.0,48.0,8.0,0.0
121106,202003070GSW,randlch01,0,13:36,0,1,0,0,3,4,...,0,3,-10,0,0,81.0,19.0,0.0,0.0,0.0

In [27]:
nba_db = sqlite3.connect("nba.db")

In [32]:
games.to_sql('games',nba_db,if_exists='replace',index=False,chunksize=1000)
players.to_sql('players',nba_db,if_exists='replace',index=False,chunksize=1000)
team_game.to_sql('team_games',nba_db,if_exists='replace',index=False,chunksize=1000)
player_game.to_sql('player_game',nba_db,if_exists='replace',index=False,chunksize=1000)

115537

In [33]:
myquery = """
SELECT * FROM games
"""
pd.read_sql_query(myquery,nba_db)

           game_id   game_date  OT  season
0     202204100BRK  2022-04-10   0    2022
1     202204100CHO  2022-04-10   0    2022
2     202204100CLE  2022-04-10   0    2022
3     202204100DAL  2022-04-10   0    2022
4     202204100DEN  2022-04-10   1    2022
...            ...         ...  ..     ...
3539  202001080GSW  2020-01-08   0    2020
3540  202008020HOU  2020-08-02   0    2020
3541  201911060HOU  2019-11-06   0    2020
3542  201912250GSW  2019-12-25   0    2020
3543  202002200GSW  2020-02-20   0    2020

[3544 rows x 4 columns]