# Living Coding Module 3

In [2]:
import numpy
import pandas as pd
import requests
import json

In [4]:
url = "https://www.thecocktaildb.com/api/json/v1/1/filter.php?c=Cocktail"
user = 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/102.0.0.0 Safari/537.36'
r = requests.get(url,headers = {'User-agent':user}) # 200 is successful
r

In [7]:
myjson = json.loads(r.text)

In [10]:
myjson['drinks'][1]

{'strDrink': '57 Chevy with a White License Plate',
 'strDrinkThumb': 'https://www.thecocktaildb.com/images/media/drink/qyyvtu1468878544.jpg',
 'idDrink': '14029'}

In [11]:
myjson['drinks'][1]['strDrink']

'57 Chevy with a White License Plate'

In [21]:
drink_names = [d['strDrink'] for d in myjson['drinks']]
print(drink_names)

['155 Belmont', '57 Chevy with a White License Plate', '747 Drink', '9 1/2 Weeks', "A Gilligan's Island", 'A True Amaretto Sour', 'A.D.M. (After Dinner Mint)', 'A1', 'Abbey Martini', 'Absolut Summertime', 'Absolutely Fabulous', 'Absolutly Screwed Up', 'Ace', 'Adam & Eve', 'Addington', 'Addison', 'Addison Special', 'Adios Amigos Cocktail', 'Afterglow', 'Alice Cocktail', 'Amaretto fizz', 'Aperol Spritz', 'Apple Highball', 'Apple Karate', 'Applejack', 'Aquamarine', 'Arizona Stingers', 'Arizona Twister', 'Army special', 'Autumn Garibaldi', 'Aviation', 'Bahama Mama', 'Banana Cream Pi', "Bee's Knees", 'Bijou', 'Blue Hurricane', 'Blueberry Mojito', 'Bombay Cassis', 'Bora Bora', 'Boulevardier', 'Bounty Hunter', 'Brigadier', 'Broadside', 'Brooklyn', 'Butterfly Effect', "Captain Kidd's Punch", 'Cherry Electric Lemonade', 'Cocktail Horse’s Neck', 'Corn n Oil', 'Corpse Reviver', 'Cosmopolitan', 'Cosmopolitan Martini', 'Cream Soda', 'Dark Caipirinha', 'Death in the Afternoon', 'Dirty Martini', 'Dry Martini', "Duchamp's Punch", 'Elderflower Caipirinha', "Empellón Cocina's Fat-Washed Mezcal", 'Espresso Martini', 'Espresso Rumtini', 'Figgy Thyme', 'Flaming Lamborghini', 'French Martini', 'French Negroni', 'Frosé', 'Funk and Soul', 'Gagliardo', 'Garibaldi Negroni', 'Gimlet', 'Gin and Soda', 'Gin Basil Smash', 'Gin Lemon', 'Gin Rickey', 'Gin Tonic', 'Greyhound', 'Honey Bee', 'Hot Toddy', "Hunter's Moon", 'Imperial Cocktail', 'Irish Curdling Cow', 'Jitterbug', 'Kiwi Martini', 'Lazy Coconut Paloma', 'Lemon Drop', 'Lemon Elderflower Spritzer', 'Malibu Twister', 'Mango Mojito', 'Manhattan', 'Martinez 2', 'Martinez Cocktail', 'Martini', 'Mary Pickford', 'Miami Vice', 'Michelada', 'Midnight Mint', 'Mojito', 'Mojito Extra', 'Mountain Bramble']

In [23]:
pd.json_normalize(myjson, record_path = 'drinks')

,strDrink,strDrinkThumb,idDrink
0,155 Belmont,https://www.thecocktaildb.com/images/media/dri...,15346
1,57 Chevy with a White License Plate,https://www.thecocktaildb.com/images/media/dri...,14029
2,747 Drink,https://www.thecocktaildb.com/images/media/dri...,178318
3,9 1/2 Weeks,https://www.thecocktaildb.com/images/media/dri...,16108
4,A Gilligan's Island,https://www.thecocktaildb.com/images/media/dri...,16943
...,...,...,...
95,Michelada,https://www.thecocktaildb.com/images/media/dri...,178343
96,Midnight Mint,https://www.thecocktaildb.com/images/media/dri...,14842
97,Mojito,https://www.thecocktaildb.com/images/media/dri...,11000
98,Mojito Extra,https://www.thecocktaildb.com/images/media/dri...,15841
99,Mountain Bramble,https://www.thecocktaildb.com/images/media/dri...,178355

In [30]:
url = "https://openlibrary.org/authors/OL23919A/works.json"
user = 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/102.0.0.0 Safari/537.36'
r = requests.get(url,headers = {'User-agent':user}) # 200 is successful
r

In [32]:
myjson = json.loads(r.text)

In [34]:
pd.json_normalize(myjson, record_path = 'entries')

,description,links,title,covers,subject_places,subjects,subject_people,key,authors,excerpts,...,revision,type.key,created.type,created.value,last_modified.type,last_modified.value,first_publish_date,description.type,description.value,subtitle
0,Harry Potter #2\r\n\r\nThroughout the summer h...,"[{'title': 'Author's book page', 'url': 'https...",Harry Potter and the Chamber of Secrets,"[8234423, 8237628, 8237644, 8392798, 8995302, ...","[England, London, Hogwarts School of Witchcraf...","[Fantasy fiction, school stories, Fiction, Fan...","[Harry Potter, Hermione Granger, Ron Weasley, ...",/works/OL82537W,"[{'author': {'key': '/authors/OL23919A'}, 'typ...","[{'excerpt': 'Not for the first time, an argum...",...,80,/type/work,/type/datetime,2009-10-17T07:07:29.461716,/type/datetime,2022-06-22T07:57:49.863271,NaN,NaN,NaN,NaN
1,"Harry Potter #3\r\n\r\nFor Harry Potter, it’s ...",[{'title': 'jkrowling.com/book/harry-potter-pr...,Harry Potter and the Prisoner of Azkaban,"[10580435, 8259337, 8125745, 1048188, 8465096,...","[England, Azkaban, Hogwarts School of Witchcra...","[Fantasy fiction, orphans, foster homes, fanta...","[Harry Potter, Hermione Granger, Ron Weasley, ...",/works/OL82536W,"[{'author': {'key': '/authors/OL23919A'}, 'typ...",[{'excerpt': 'Harry Potter was a highly unusua...,...,12,/type/work,/type/datetime,2009-10-17T07:07:29.461716,/type/datetime,2022-06-20T22:31:07.151887,1999,NaN,NaN,NaN
2,NaN,NaN,Harry Potter And The Half-Blood Prince,NaN,NaN,NaN,NaN,/works/OL27328223W,"[{'type': {'key': '/type/author_role'}, 'autho...",NaN,...,3,/type/work,/type/datetime,2022-02-25T23:12:44.237939,/type/datetime,2022-06-03T07:09:32.666873,NaN,NaN,NaN,NaN
3,NaN,NaN,Harry Potter Hardcover Boxed Set,NaN,NaN,NaN,NaN,/works/OL27854006W,"[{'type': {'key': '/type/author_role'}, 'autho...",NaN,...,2,/type/work,/type/datetime,2022-05-26T11:29:14.238386,/type/datetime,2022-05-28T15:28:44.981518,NaN,NaN,NaN,NaN
4,NaN,NaN,Harry Potter e il calice di fuoco vol. 4,NaN,NaN,NaN,NaN,/works/OL27869516W,"[{'type': {'key': '/type/author_role'}, 'autho...",NaN,...,2,/type/work,/type/datetime,2022-05-26T16:22:01.490266,/type/datetime,2022-05-28T15:28:44.981518,NaN,NaN,NaN,NaN
5,NaN,NaN,Harry Potter y la cámara secreta,NaN,NaN,NaN,NaN,/works/OL27730414W,"[{'type': {'key': '/type/author_role'}, 'autho...",NaN,...,2,/type/work,/type/datetime,2022-04-29T01:51:32.154872,/type/datetime,2022-05-28T15:28:44.981518,NaN,NaN,NaN,NaN
6,NaN,NaN,هاري بوتر وكأس النار - Harry Potter Series,NaN,NaN,NaN,NaN,/works/OL27739326W,"[{'type': {'key': '/type/author_role'}, 'autho...",NaN,...,2,/type/work,/type/datetime,2022-05-13T14:08:38.628224,/type/datetime,2022-05-28T15:28:44.981518,NaN,NaN,NaN,NaN
7,NaN,NaN,Harry Potter y el cáliz de fuego,NaN,NaN,NaN,NaN,/works/OL27741502W,"[{'type': {'key': '/type/author_role'}, 'autho...",NaN,...,2,/type/work,/type/datetime,2022-05-15T15:08:48.486164,/type/datetime,2022-05-28T15:28:44.981518,NaN,NaN,NaN,NaN
8,NaN,NaN,Harry Potter e i doni della morte vol. 7,NaN,NaN,NaN,NaN,/works/OL27731656W,"[{'type': {'key': '/type/author_role'}, 'autho...",NaN,...,2,/type/work,/type/datetime,2022-05-04T21:33:21.156131,/type/datetime,2022-05-28T15:28:44.981518,NaN,NaN,NaN,NaN
9,NaN,NaN,Harry Potter e la pietra filosofale,NaN,NaN,NaN,NaN,/works/OL27735467W,"[{'type': {'key': '/type/author_role'}, 'autho...",NaN,...,2,/type/work,/type/datetime,2022-05-09T05:34:59.663910,/type/datetime,2022-05-28T15:28:44.981518,NaN,NaN,NaN,NaN
10,NaN,NaN,Harry Potter : un año Mágico / Harry Potter -A...,NaN,NaN,NaN,NaN,/works/OL27846296W,"[{'type': {'key': '/type/author_role'}, 'autho...",NaN,...,2,/type/work,/type/datetime,2022-05-26T09:22:56.476862,/type/datetime,2022-05-28T15:28:44.981518,NaN,NaN,NaN,NaN
11,NaN,NaN,HARRY POTTER E OS TALISMÃS DA MORTE,NaN,NaN,NaN,NaN,/works/OL27741876W,"[{'type': {'key': '/type/author_role'}, 'autho...",NaN,...,2,/type/work,/type/datetime,2022-05-16T20:01:19.914354,/type/datetime,2022-05-28T15:28:44.981518,NaN,NaN,NaN,NaN
12,NaN,NaN,Fantastic Beasts,NaN,NaN,NaN,NaN,/works/OL27852724W,"[{'type': {'key': '/type/author_role'}, 'autho...",NaN,...,2,/type/work,/type/datetime,2022-05-26T11:10:19.345092,/type/datetime,2022-05-28T15:28:44.981518,NaN,NaN,NaN,NaN
13,NaN,[{'url': 'https://www.nytimes.com/2020/12/05/b...,The Ickabog,"[10328306, 10511990, 10513135, 11531795, 10524...",NaN,[nyt:childrens-middle-grade-hardcover=2020-11-...,NaN,/works/OL21156586W,"[{'author': {'key': '/authors/OL23919A'}, 'typ...",NaN,...,10,/type/work,/type/datetime,2020-08-05T19:51:14.921405,/type/datetime,2022-05-24T06:38:14.973670,NaN,/type/text,Come join JK Rowling with her new adventurous ...,NaN
14,NaN,NaN,HARRY POTTER IV - Y EL CALIZ DE FUEGO - TD,[12293173],NaN,NaN,NaN,/works/OL26295762W,"[{'type': {'key': '/type/author_role'}, 'autho...",NaN,...,2,/type/work,/type/datetime,2021-11-02T06:41:07.060756,/type/datetime,2022-05-19T23:45:39.240214,NaN,NaN,NaN,NaN
15,NaN,NaN,Harry Potter 01 La Piedra Ilustrado,[12325202],NaN,NaN,NaN,/works/OL26378607W,"[{'type': {'key': '/type/author_role'}, 'autho...",NaN,...,2,/type/work,/type/datetime,2021-11-05T17:34:33.530048,/type/datetime,2022-05-19T23:45:39.240214,NaN,NaN,NaN,NaN
16,NaN,NaN,HARRY POTTER Y LAS RELIQUIAS DE LA MUERTE,[12293172],NaN,NaN,NaN,/works/OL26295760W,"[{'type': {'key': '/type/author_role'}, 'autho...",NaN,...,2,/type/work,/type/datetime,2021-11-02T06:41:04.000254,/type/datetime,2022-05-19T23:45:39.240214,NaN,NaN,NaN,NaN
17,NaN,NaN,ANIMALES FANTASTICOS Y DONDE ENCONTRARLOS,[12339984],NaN,NaN,NaN,/works/OL26392594W,"[{'type': {'key': '/type/author_role'}, 'autho...",NaN,...,2,/type/work,/type/datetime,2021-11-06T00:39:33.410729,/type/datetime,2022-05-19T23:45:39.240214,NaN,NaN,NaN,NaN
18,NaN,NaN,Harry Potter e o Calice de Fogo - Edicao Comem...,[12396585],NaN,NaN,NaN,/works/OL26430740W,"[{'type': {'key': '/type/author_role'}, 'autho...",NaN,...,2,/type/work,/type/datetime,2021-12-09T12:03:31.935675,/type/datetime,2022-05-19T23:45:39.240214,NaN,NaN,NaN,NaN
19,NaN,NaN,Harry Potter e a Camara Secreta - Edicao Comem...,[12392584],NaN,NaN,NaN,/works/OL26427362W,"[{'type': {'key': '/type/author_role'}, 'autho...",NaN,...,2,/type/work,/type/datetime,2021-12-06T13:26:14.297049,/type/datetime,2022-05-19T23:45:39.240214,NaN,NaN,NaN,NaN
20,NaN,NaN,HARRY POTTER Y LA PIEDRA FILOSOFAL 20 ANIVERSARIO,[12325291],NaN,NaN,NaN,/works/OL26378692W,"[{'type': {'key': '/type/author_role'}, 'autho...",NaN,...,2,/type/work,/type/datetime,2021-11-05T17:36:43.645376,/type/datetime,2022-05-19T23:45:39.240214,NaN,NaN,NaN,NaN
21,NaN,NaN,HARRY POTTER Y LA CAMARA SECRETA,[12337360],NaN,NaN,NaN,/works/OL26390126W,"[{'type': {'key': '/type/author_role'}, 'autho...",NaN,...,2,/type/work,/type/datetime,2021-11-05T23:31:25.234189,/type/datetime,2022-05-19T23:45:39.240214,NaN,NaN,NaN,NaN
22,NaN,NaN,HARRY POTTER Y LA ORDEN DEL FENIX,[12293164],NaN,NaN,NaN,/works/OL26295741W,"[{'type': {'key': '/type/author_role'}, 'autho...",NaN,...,2,/type/work,/type/datetime,2021-11-02T06:40:42.162487,/type/datetime,2022-05-19T23:45:39.240214,NaN,NaN,NaN,NaN
23,NaN,NaN,HARRY POTTER Y EL MISTERIOSO DEL PRINCIPE,[12293175],NaN,NaN,NaN,/works/OL26295772W,"[{'type': {'key': '/type/author_role'}, 'autho...",NaN,...,2,/type/work,/type/datetime,2021-11-02T06:41:12.614192,/type/datetime,2022-05-19T23:45:39.240214,NaN,NaN,NaN,NaN
24,NaN,NaN,Harry Potter en de Vuurbeker,NaN,NaN,NaN,NaN,/works/OL27720642W,"[{'author': {'key': '/authors/OL23919A'}, 'typ...",NaN,...,1,/type/work,/type/datetime,2022-04-25T08:13:51.349099,/type/datetime,2022-04-25T08:13:51.349099,NaN,NaN,NaN,NaN
25,NaN,NaN,L'ickabog,NaN,NaN,NaN,NaN,/works/OL27699642W,"[{'type': {'key': '/type/author_role'}, 'autho...",NaN,...,2,/type/work,/type/datetime,2022-03-25T08:44:33.834271,/type/datetime,2022-04-10T23:22:49.850313,NaN,NaN,NaN,NaN
26,NaN,NaN,Harry Potter y la cámara secreta,NaN,NaN,NaN,NaN,/works/OL27713728W,"[{'type': {'key': '/type/author_role'}, 'autho...",NaN,...,2,/type/work,/type/datetime,2022-04-09T18:54:25.343152,/type/datetime,2022-04-10T23:22:49.850313,NaN,NaN,NaN,NaN
27,NaN,NaN,Harry Potter and the Half-Blood Prince. J.K. R...,NaN,NaN,NaN,NaN,/works/OL27694002W,"[{'type': {'key': '/type/author_role'}, 'autho...",NaN,...,2,/type/work,/type/datetime,2022-03-20T18:40:52.685951,/type/datetime,2022-04-10T23:22:49.850313,NaN,NaN,NaN,NaN
28,NaN,NaN,Harry Potter and the Goblet of Fire,NaN,NaN,NaN,NaN,/works/OL27705006W,"[{'type': {'key': '/type/author_role'}, 'autho...",NaN,...,2,/type/work,/type/datetime,2022-03-30T19:36:29.790995,/type/datetime,2022-04-10T23:22:49.850313,NaN,NaN,NaN,NaN
29,NaN,NaN,HARRY POTTER ET LA PIERRE PHILOSOPHALE I,NaN,NaN,NaN,NaN,/works/OL27455200W,"[{'type': {'key': '/type/author_role'}, 'autho...",NaN,...,2,/type/work,/type/datetime,2022-03-01T15:41:01.818140,/type/datetime,2022-04-10T23:22:49.850313,NaN,NaN,NaN,NaN
30,Harry Potter #5\r\n\r\nAfter the Dementors’ at...,[{'url': 'https://www.jkrowling.com/book/harry...,Harry Potter and the Order of the Phoenix,"[10523466, 8458068, 9345678, 9335101, 10489944...","[England, Hogwarts Schools of Witchcraft and W...","[Children's Books/Ages 9-12 Fiction, Witches a...","[Harry Potter, Albus Dumbledore, Hagrid, Ron W...",/works/OL82548W,"[{'author': {'key': '/authors/OL23919A'}, 'typ...","[{'comment': 'first sentence', 'excerpt': 'The...",...,41,/type/work,/type/datetime,2009-10-17T07:07:29.461716,/type/datetime,2022-05-28T01:15:50.379740,2003,NaN,NaN,NaN
31,NaN,NaN,Harry Potter Ravenclaw House Editions Paperbac...,NaN,NaN,NaN,NaN,/works/OL27084055W,"[{'type': {'key': '/type/author_role'}, 'autho...",NaN,...,2,/type/work,/type/datetime,2022-01-27T16:28:24.690410,/type/datetime,2022-04-09T16:47:46.466996,NaN,NaN,NaN,NaN
32,NaN,NaN,Harry Potter Slytherin House Editions Paperbac...,NaN,NaN,NaN,NaN,/works/OL27088244W,"[{'type': {'key': '/type/author_role'}, 'autho...",NaN,...,2,/type/work,/type/datetime,2022-01-27T17:56:07.813667,/type/datetime,2022-04-09T16:47:46.466996,NaN,NaN,NaN,NaN
33,NaN,NaN,Harry Potter e il calice di fuoco vol. 4,NaN,NaN,NaN,NaN,/works/OL27678595W,"[{'type': {'key': '/type/author_role'}, 'autho...",NaN,...,2,/type/work,/type/datetime,2022-03-05T14:47:09.600916,/type/datetime,2022-04-09T16:47:46.466996,NaN,NaN,NaN,NaN
34,NaN,NaN,"Harry, a History - Now Updated with J. K. Rowl...",NaN,NaN,"[Rowling, j. k., 1965-, Potter, harry (fictiti...",NaN,/works/OL27434267W,"[{'type': {'key': '/type/author_role'}, 'autho...",NaN,...,2,/type/work,/type/datetime,2022-03-01T04:19:14.323243,/type/datetime,2022-04-09T16:47:46.466996,NaN,NaN,NaN,NaN
35,NaN,NaN,Harry Potter Gryffindor House Editions Paperba...,NaN,NaN,NaN,NaN,/works/OL27091452W,"[{'type': {'key': '/type/author_role'}, 'autho...",NaN,...,2,/type/work,/type/datetime,2022-01-27T19:23:38.944711,/type/datetime,2022-04-09T16:47:46.466996,NaN,NaN,NaN,NaN
36,NaN,NaN,"Harry, a History - Enhanced with Videos and Ex...",NaN,NaN,NaN,NaN,/works/OL27435157W,"[{'type': {'key': '/type/author_role'}, 'autho...",NaN,...,2,/type/work,/type/datetime,2022-03-01T04:49:31.083337,/type/datetime,2022-04-09T16:47:46.466996,NaN,NaN,NaN,NaN
37,NaN,NaN,Harry Potter Hufflepuff House Editions Paperba...,NaN,NaN,NaN,NaN,/works/OL27086958W,"[{'type': {'key': '/type/author_role'}, 'autho...",NaN,...,2,/type/work,/type/datetime,2022-01-27T17:27:00.098570,/type/datetime,2022-04-09T16:47:46.466996,NaN,NaN,NaN,NaN
38,NaN,NaN,Harry Potter,NaN,NaN,NaN,NaN,/works/OL27698930W,"[{'author': {'key': '/authors/OL23919A'}, 'typ...",NaN,...,2,/type/work,/type/datetime,2022-03-24T14:52:20.103915,/type/datetime,2022-03-24T14:55:48.151237,NaN,NaN,NaN,The Complete Collection
39,The fourth book in the Harry Potter franchise ...,"[{'title': 'Wikipedia entry', 'url': 'http://e...",Harry Potter and the Goblet of Fire,"[12059372, 8303392, 8353395, 8081240, 9392983,...","[England, Angleterre, Hogwarts School of Witch...","[orphans, foster homes, Waisenkind, Intrige, W...","[Harry Potter, Dumbledore, Hagrid, Ron Weasley...",/works/OL82577W,"[{'author': {'key': '/authors/OL23919A'}, 'typ...","[{'author': {'key': '/people/seabelis'}, 'exce...",...,60,/type/work,/type/datetime,2009-10-17T07:07:29.461716,/type/datetime,2022-06-20T06:17:09.374766,NaN,NaN,NaN,NaN
40,NaN,NaN,HARRY POTTER (all parts),NaN,NaN,NaN,NaN,/works/OL27677385W,"[{'author': {'key': '/authors/OL23919A'}, 'typ...",NaN,...,1,/type/work,/type/datetime,2022-03-04T11:50:34.819882,/type/datetime,2022-03-04T11:50:34.819882,NaN,NaN,NaN,NaN
41,NaN,NaN,Gwiazdkowy prosiaczek,NaN,NaN,NaN,NaN,/works/OL27615171W,"[{'author': {'key': '/authors/OL23919A'}, 'typ...",NaN,...,1,/type/work,/type/datetime,2022-03-03T12:29:35.183305,/type/datetime,2022-03-03T12:29:35.183305,NaN,NaN,NaN,NaN
42,NaN,NaN,HARRY POTTER & DER STEIN - ROW,[12389447],NaN,NaN,NaN,/works/OL26425040W,"[{'type': {'key': '/type/author_role'}, 'autho...",NaN,...,2,/type/work,/type/datetime,2021-11-30T21:35:40.899827,/type/datetime,2022-02-22T16:28:07.809025,NaN,NaN,NaN,NaN
43,NaN,NaN,Harry Potter Kamen Modrosti,[12518635],NaN,NaN,NaN,/works/OL27017455W,"[{'type': {'key': '/type/author_role'}, 'autho...",NaN,...,2,/type/work,/type/datetime,2022-01-02T22:14:44.704520,/type/datetime,2022-02-22T16:28:07.809025,NaN,NaN,NaN,NaN
44,NaN,NaN,Harry Potter E La Camera Dei Segreti,[12604696],NaN,NaN,NaN,/works/OL27280670W,"[{'type': {'key': '/type/author_role'}, 'autho...",NaN,...,2,/type/work,/type/datetime,2022-02-02T16:10:13.634569,/type/datetime,2022-02-22T16:28:07.809025,NaN,NaN,NaN,NaN
45,NaN,NaN,Harry Potter i la pedra filosofal,[12454756],NaN,NaN,NaN,/works/OL26436392W,"[{'type': {'key': '/type/author_role'}, 'autho...",NaN,...,2,/type/work,/type/datetime,2021-12-20T16:39:36.727083,/type/datetime,2022-02-22T16:28:07.809025,NaN,NaN,NaN,NaN
46,NaN,NaN,Harry Potter y las reliquias de la muerte,[12389355],NaN,NaN,NaN,/works/OL26425007W,"[{'type': {'key': '/type/author_role'}, 'autho...",NaN,...,2,/type/work,/type/datetime,2021-11-30T18:02:57.606934,/type/datetime,2022-02-22T16:28:07.809025,NaN,NaN,NaN,NaN
47,NaN,NaN,Harry Potter House Ravenclaw Edition Series 16-20,[12392632],NaN,NaN,NaN,/works/OL26427391W,"[{'type': {'key': '/type/author_role'}, 'autho...",NaN,...,2,/type/work,/type/datetime,2021-12-06T16:52:04.218741,/type/datetime,2022-02-22T16:28:07.809025,NaN,NaN,NaN,NaN
48,NaN,NaN,Harry Potter House Gryffindor Edition Series 1...,[12388072],NaN,NaN,NaN,/works/OL26423974W,"[{'author': {'key': '/authors/OL23919A'}, 'typ...",NaN,...,6,/type/work,/type/datetime,2021-11-29T16:39:22.628417,/type/datetime,2022-02-22T16:28:07.809025,NaN,NaN,NaN,NaN
49,NaN,NaN,Harry Potter and the Goblet of Fire 4,[12467587],NaN,NaN,NaN,/works/OL26442666W,"[{'type': {'key': '/type/author_role'}, 'autho...",NaN,...,2,/type/work,/type/datetime,2021-12-23T05:32:39.957827,/type/datetime,2022-02-22T16:28:07.809025,NaN,NaN,NaN,NaN

In [35]:
url = "https://en.wikipedia.org/w/api.php?action=query&list=search&srsearch=Virginia&format=json&srlimit=500"
user = 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/102.0.0.0 Safari/537.36'
r = requests.get(url,headers = {'User-agent':user}) # 200 is successful
r

In [38]:
myjson = json.loads(r.text)

In [42]:
mydf = pd.json_normalize(myjson, record_path = ['query','search'])
mydf

,ns,title,pageid,size,wordcount,snippet,timestamp
0,0,Virginia,32432,287917,24903,"<span class=""searchmatch"">Virginia</span>, off...",2022-06-28T01:42:29Z
1,0,West Virginia,32905,183708,17331,"West <span class=""searchmatch"">Virginia</span>...",2022-06-24T14:52:34Z
2,0,"Virginia Beach, Virginia",91239,109336,9610,"<span class=""searchmatch"">Virginia</span> Beac...",2022-06-23T21:12:26Z
3,0,Virginia Woolf,32742,325729,31374,"Adeline <span class=""searchmatch"">Virginia</sp...",2022-06-22T22:07:29Z
4,0,Virginia Tech Hokies baseball,32394073,8738,106,"The <span class=""searchmatch"">Virginia</span> ...",2022-06-13T00:15:25Z
...,...,...,...,...,...,...,...
495,0,West Virginia State Board of Education v. Barn...,157960,30209,3760,"West <span class=""searchmatch"">Virginia</span>...",2022-06-26T17:11:04Z
496,0,Virginia Lottery,11899257,27879,3304,"The <span class=""searchmatch"">Virginia</span> ...",2022-05-17T08:46:03Z
497,0,United States District Court for the Eastern D...,751799,41674,1413,"Eastern District of <span class=""searchmatch"">...",2022-06-01T01:32:35Z
498,0,"Frederick County, Virginia",45451,29426,2135,Frederick County is located in the Commonwealt...,2022-04-07T18:14:26Z
499,0,Mountain Lake (Virginia),1700542,15105,1750,"Newport, <span class=""searchmatch"">Virginia</s...",2022-03-24T01:36:43Z

In [51]:
url = "https://en.wikipedia.org/w/api.php?action=query&list=search&srsearch=Virginia&format=json&srlimit=500"
root = "https://en.wikipedia.org"
end_point  = "/w/api.php"
parameters = {'action':'query',
              'list':'search',
              'srsearch':'Ohio',
              'format':'json',
              'srlimit':500}
r = requests.get(root+end_point,
                headers = {'User-agent':user},
                params = parameters)
myjson = json.loads(r.text)
mydf = pd.json_normalize(myjson, record_path = ['query','search'])

In [52]:
mydf

,ns,title,pageid,size,wordcount,snippet,timestamp
0,0,Ohio,22199,191424,16391,"<span class=""searchmatch"">Ohio</span> (/oʊˈhaɪ...",2022-06-28T17:13:51Z
1,0,"Columbus, Ohio",5950,159674,15474,(/kəˈlʌmbəs/) is the state capital and the mos...,2022-06-18T11:14:16Z
2,0,Cincinnati,18522615,154892,14082,"of <span class=""searchmatch"">Ohio</span> and t...",2022-06-25T21:24:43Z
3,0,List of state routes in Ohio,5999896,195281,51,"State Routes in <span class=""searchmatch"">Ohio...",2022-03-04T20:17:35Z
4,0,Cleveland,5951,232643,20511,"officially the City of Cleveland, is a major ...",2022-06-27T14:23:04Z
...,...,...,...,...,...,...,...
495,0,Marietta City School District (Ohio),4538718,1218,91,"grades K-12 who live in and around Marietta, a...",2022-05-19T20:20:59Z
496,0,"Warren, Ohio",129883,19821,2014,"and the county seat of Trumbull County, <span ...",2022-06-27T16:15:59Z
497,0,2006 Ohio State Buckeyes football team,6332534,65867,6273,"The 2006 <span class=""searchmatch"">Ohio</span>...",2022-05-05T19:29:07Z
498,0,"St. Marys, Ohio",128928,20578,1941,"Auglaize County, <span class=""searchmatch"">Ohi...",2022-06-03T05:57:21Z
499,0,Ohio High School Athletic Association,2849652,21183,569,"The <span class=""searchmatch"">Ohio</span> High...",2022-06-05T06:15:24Z